.footer_wrap {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 432px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 109px 238px 109px 190px;
  .logo-text-footer-wrap {
    width: 391px;
    margin-top: 12px;
    .link-logo-footer {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      .img-logo-footer {
        background-color: #ffffff;
        border-radius: 50%;
        width: 41px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Mulish;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.26;
        color: #5b9bf3;
        margin: 0;
        margin-right: 12px;
      }
      .text-logo-footer {
        font-family: Mulish;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
        color: #ffffff;
        margin: 0;
      }
    }
    .footer-text {
      font-family: Mulish;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.56;
      color: #ffffff;
      margin-bottom: 31px;
    }
    .footer-text-est {
      font-family: Mulish;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 1.56;
      color: #ffffff;
    }
  }
  .footer-list-wrap {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 660px;
    padding: 0;
    .general_name_list {
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 3;
      color: #ffffff;
    }
    .list-foter {
      padding: 0;
      .general_name_list {
        font-family: Mulish;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 3;
        color: #ffffff;
      }
      .company-list-text {
        font-family: Mulish;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 2.11;
        color: #ffffff;
      }
    }
  }
}

footer > div > ul > li {
  margin: 0;
}
