.customer_wrap {
  width: 1120px;
  border-radius: 24px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  margin-top: 265px;
  padding: 64px 118px 83px;
  .customer_general_text {
    @include Mulish-700;
    font-size: 36px;
    line-height: 1.33;
    color: $another-general-color;
    text-align: center;
    &::after {
      display: block;
      content: "";
      width: 56px;
      height: 2px;
      background-color: $another-general-color;
      border-radius: 6px;
      margin: 0 auto;
      margin-top: 25px;
    }
    @include tablet {
      font-size: 26px;
      line-height: 1.01;
    }
  }
  .customer_icon_text_wrap {
    display: flex;
    flex-direction: row;
    padding: 65px 0 0px 0;
    justify-content: space-around;
    .customer_icon_text {
      width: 354px;
      display: flex;
      flex-direction: row;
      margin: 0;
      .customer_icon {
        margin: 0;
      }
      .customer_icon_name_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 29px;
        .customer_icon_name {
          @include Mulish-700;
          font-size: 22px;
          line-height: 2.18;
          color: $another-general-color;
          @include tablet {
            font-size: 15px;
            line-height: 1.68;
          }
        }
        .customer_founder {
          @include Mulish-400;
          font-size: 18px;
          line-height: 2.67;
          color: rgba(255, 255, 255, 0.85);
          margin: 0;
          @include mobile {
            font-size: 14px;
            line-height: 1.67;
          }
        }
      }
    }
    @include mobile {
      padding: 15px 0 0px 0;
    }
  }
  .customer_text_wrap {
    margin: 0;
    display: flex;
    align-items: center;
    .customer_text {
      @include Mulish-400;
      font-size: 19px;
      line-height: 1.58;
      color: rgba(255, 255, 255, 0.9);
      width: 341px;
      @include tablet {
        font-size: 15px;
        line-height: 1.33;
        width: 240px;
        margin-left: 20px;
      }
    }
  }
  @include tablet {
    max-width: 100%;
    padding: 20px 118px 20px;
  }
}

.customer_conteiner_arrow {
  display: flex;
  align-items: center;
  width: 335px;
  margin-top: 43px;
  .first_arrow {
    transform: rotate(-180deg);
    opacity: 0.4;
  }
  .customer_ellipse_item {
    display: flex;
    width: 94px;
    padding: 0;
    .customer_ellipse {
      opacity: 0.3;
    }
  }
}
