.icon-services-wrap {
  padding: 0;
}
.first-row-icon {
  margin-bottom: 35px;
}
.text-servies {
  @include Mulish-700;
  font-size: 36px;
  line-height: 1.56;
  color: $general-color;
  text-align: center;
  margin-top: 120px;
  &::after {
    display: block;
    content: "";
    width: 56px;
    height: 2px;
    background-color: $general-color;
    border-radius: 1px;
    margin: 0 auto;
    margin-top: 26px;
  }
}
.text-information {
  width: 952px;
  @include Mulish-300;
  font-size: 18px;
  line-height: 1.67;
  color: $secondary-color;
  text-align: center;
  margin-top: 33px;
}

.icon-information {
  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-top: 80px;
  }
  li {
    padding: 54px 37px 46px;
    width: 350px;
    height: 354px;
    box-shadow: 10px 20px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    background: $another-general-color;
  }
  h3 {
    @include Mulish-700;
    font-size: 24px;
    line-height: 1.33;
    color: $general-color;
    background: $another-general-color;
  }
  img {
    height: 90px;
    margin-bottom: 22px;
    background: $another-general-color;
  }
  p {
    @include Mulish-300;
    font-size: 16px;
    line-height: 1.75;
    color: $secondary-color;
    background: $another-general-color;
  }
}
.button_services_wrap {
  text-align: center;
  .button_services {
    @include Mulish-700;
    font-size: 18px;
    line-height: 3.33;
    color: $button-color;
    background-color: $another-general-color;
    border: 1.4px solid $button-color;
    width: 200px;
    border-radius: 55px;
    box-sizing: border-box;
    margin-top: 69px;
  }
}
